.controltable{
  width: 80%;
}
.controltable td,.controltable th{
  padding: 8px;
  text-align: left;
}
.controlinput{
  width: 100%;
  padding: 8px;
  font-size: 18px;
}
.control_input_erreur{
  border: 1px solid red;
}
.controllabel{
  font-size: 18px;
}
.control_div_btn{
  padding: 16px;
}
.control_btn{
  background-color: #34495e;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 20px;
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.control_btn:hover{
  background-color: #5c6d7e;
}
