.controltable{
  width: 88%;
  color: #293A4B;
  /* color: #4C5667; */
}
.controltable td{
  padding: 10px;
  width: 40%;
  text-align: left;
}

.controltable th{
  padding: 8px;
  width: 20%;
  text-align:right;
}
.controlinput{
  width: 55%;
  padding: 8px;
  font-size: 18px;
}
.control_input_erreur{
  border: 1px solid red;
}
.controllabel{
  font-size: 18px;
}
.control_div_btn{
  padding: 16px;
}
.control_btn{
  background-color: #34495e;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 20px;
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.control_btn:hover{
  /*  background-color: #5c6d7e;
     titre ta3 bouton b blanc donc lazam background-color fonce
     prq dork remarque raho y9ala9 chouia blanc fi chouia black bl bleu
     mata9darch t9raha mlli7
  */
}
.fields{
  border-radius: 8px;

}
.legends{
  color: #3C4452;
  font-size: 24px;
  margin: 4px;
  padding: 4px;
}
.selects{
  width: 58%;
  color: #192430;
  font-size: 20px;
}
