.list_item{
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18% ;
  grid-column-gap: 24px;
  padding: 8px;
}
.item_page{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--colorbleu);
}
.item_page_a{
  text-decoration: none;
}
.item_page_titre{
  font-size: 56px;
  color: white;
}
.item_page_icon{
  text-align: center;
}
