.Connexion_formulaire{
  display: flex;
  justify-content: center;
}
.Connexion_formulaire .Inscription_formulaire{
  width: 550px;
}
.formulaire_titre{
  margin-top: 8px;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-bleu);
}
.formulaire_ligne{
  color: #fff;
  width: 100%;
}
.formulaire_form{
  display: grid;
  grid-row-gap: 12px;
}
.formulaire_row_item{
  display: grid;
  grid-row-gap: 8px;
}
.formulaire_row_item_ligne{
  grid-template-columns: 15% 85%;
}
.formulaire_row_2item{
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 24px;
}
.formulaire_row_item_label{
  font-size: 18px;
  color: #878C9F;
}
.formulaire_row_item_input{
  border: 1px solid #878c9f;
  background-color: rgb(135, 140, 159,.1);
  border-radius: 4px;
  padding:5px;
  font-size: 18px;
  font-family: unset;
}
.formulaire_btn{
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

.formulaire_table_row_5item_titre label{
color: #001f39;  
}
.formulaire_table_row_5item{
  display: grid;
  grid-template-columns: 14% 25%  13% 13% 30%;
}
.produitbtn{
    color: white;
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    width: 40px;
    margin-right: 8px;
    cursor: pointer;
}
.produitbtnedit{
  background-color: #1f3853;
}
.produitbtnsupprime{
  background-color: #f35958;
}