.index_offre_page{
  display: block;
  width: 100%;
}
.index_offre_top_voyage_titre{
  margin-top: 24px;
  text-align: center;
}
.index_offre_top_voyage_titre label{
  color: var(--color-bleu);
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.index_offre_top_voyage_titre label::before{
  content: '';
  position: absolute;
  margin-top: 40px;
  border: 2px solid var(--color-bleu);
  border-radius: 16px;
  width: 97%;
}
.index_offre_top_voyage_list_offre{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 16px;
  justify-content: center;
  margin-top: 30px;
}
.index_offre_top_voyage_offre{
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.index_offre_top_voyage_offre:hover  img{
  transform: scale(1.1,1.1);
  transition: .5s ;

}
.index_offre_top_voyage_offre img{
  width:100%;
  height: 100%;
}
.index_offre_top_voyage_desc{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
}
.index_offre_top_voyage_nom_day{
  display: grid;
}
.index_offre_top_voyage_nom{
  font-size: 32px;
  font-weight: bold;
}
.index_offre_top_voyage_prix{
  display: table;
  background-color: var(--color-bleu);
  border-radius: 16px;
  height:60px;
  text-align: center;
  position: relative;
  z-index: 3;
  box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.2);
}
.index_offre_top_voyage_prix label{
  display: table-cell;
  vertical-align: bottom;
  font-size: 24px;
  padding: 8px;
  font-weight: bold;
  position: relative;
}
.index_offre_top_voyage_prix label::before{
  content: 'à partir de';
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  margin-top: -14px;
}
.index_offre_top_voyage_btn_more{
  display: flex;
  justify-content: center;
  padding: 14px;
  overflow: hidden;
}
.index_offre_top_voyage_btn_more a,.btn_envoyee {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  background-color: var(--color-bleu-claire);
  width: 240px;
  border-radius: 4px;
  border: none;
}
.index_offre_top_voyage_btn_more_titre{
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
.index_offre_top_voyage_btn_more_titre label{
  margin-top: 8px;
  width:100%;
  cursor: pointer;
}
.index_offre_top_voyage_btn_more_titre img{
  padding: 12px;
  border-left: 1px solid white;
}
.index_offre_top_voyage_btn_more_titre::after,.btn_envoyee::after{
  content: "";
  height: 40px;
  width: 0px;
  background-color: rgb(255,255,255,.1);
  position:absolute;
  transition: .4s;
}
.index_offre_top_voyage_btn_more a:hover  .index_offre_top_voyage_btn_more_titre::after{
  width: 250px;
}
