.Inscription_page{
  position: relative;
  overflow: hidden;
  padding: 20px;
  min-height: 400px;
}

.Inscription_formulaire,.list_Reseravtion_formulaire{
  height: auto;
  width: 800px;
  padding: 18px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  z-index: 6;
}

.list_Reseravtion_formulaire{
  width: 97%;
}
