.Inscription_page{
  position: relative;
  overflow: hidden;
  padding: 32px;
}

.Inscription_formulaire{
  height: 500px;
  width: 800px;
  padding: 18px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  z-index: 6;
}
