.nav_bar{
  justify-content: center;
  background-color: var(--color-bleu);
}
.nav_bar_head{
  display: flex;
  justify-content: space-between;
  padding:10px;
}

.nav_bar_head_left{
  display: grid;
  grid-template-columns: 150px 90%;
}
.nav_bar_head_right{
  margin-top: 12px;
  margin-right: 20px;
}
.nav_bar_head_right a{
  font-size: 14px;
  padding: 8px;
}
.nav_bar_head_right_creer{
  border: 1px solid white;
  border-radius: 8px;
}
.nav_bar_logo{
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-left: 14px;
}
.nav_bar_list_btn{
  display: flex;
  justify-content: flex-start;
  margin-top: 6px;
}
.nav_bar_btn {
  text-decoration: none;
  color :white;
  font-size: 18px;
  padding: 6px;
  margin-right: 12px;
  position: relative;
  transition: .2s;
}
.nav_bar_btn::before{
    content: "";
    border: 1px solid var(--color-lemon);
    background-color: white;
    position: absolute;
    width: 0;
    bottom: 2px;
    transition: .2s;
    visibility: hidden;
}
.nav_bar_btn:hover{
  color: var(--color-lemon);
}
.nav_bar_btn:hover::before{
    visibility: visible;
    width: 90%;
}
.nav_bar_cover_index{
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.nav_bar_cover_index_img{
  position: absolute;
  left: 0;
  right: 0;
}
.nav_bar_cover_index_img img{
  height: 350px;
  width: 100%;
  z-index: 1;
  position: absolute;
}
.nav_bar_cover_index_img::after{
  content: '';
  width: 100%;
  height: 350px;
  position: absolute;
  background-color: rgb(0,0,0,.4);
  z-index: 2;
}
.nav_bar_titre{
  margin-top: auto;
  margin-bottom: auto;
  z-index: 6;
  color: white;
  font-size: 44px;
  font-weight: 600;
  position: relative;
}
.nav_bar_titre::before{
  content: '';
  position: absolute;
  z-index: 6;
  width: 100%;
  border: 3px solid var(--color-bleu);
  border-radius: 16px;
  margin-top: 60px;
}
.nav_bar_titre_bar{
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: center;
}
.nav_bar_titre_bar_url{
  width: 90%;
  height: 100%;
  display: table;
}
.nav_bar_titre_bar_url_icon{
  display: table-cell;
  vertical-align: middle;
}
.nav_bar_titre_bar_url_icon_btn{
  display: flex;
}
.nav_bar_titre_bar_url_icon_suivant{
  margin-left: 8px;
  margin-right: 8px;
}
.nav_bar_titre_bar_url_icon label{
  font-size: 16px;
  color: var(--color-gris);
}
.nav_bar_from{
  display: grid;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 4;
  overflow: hidden;
  border-radius:16px;
  box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.3);
}
.nav_bar_from_titre{
  display: grid;
  grid-template-columns: auto auto auto;
}
.nav_bar_from_titre_choix{
  border: none;
  background-color: var(--color-bleu);
  padding: 8px;
  color: white;
  font-size: 18px;
  font-weight:bold;
  border-left: 1.5px solid var(--color-bleu-fonce);
}
.nav_bar_from_titre_choix:nth-child(1){
  border-left: none;
}
.nav_bar_from_titre_choix_active{
  background-color: var(--color-lemon);
}
.nav_bar_div_form{
  background-color: white;
  padding: 12px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 2px solid var(--color-lemon);
  display: none;
  width: 700px;
}
.nav_bar_div_form_activ{
  display: block;
}
.formtest{
  display: flex;
}

.nab_bar_index_div_input{
  width: 100%;
  display: flex;
}
.nab_bar_index_input,.recharche_btn{
  padding: 6px;
  font-size: 18px;
  width: 100%;
}
.recharche_btn{
  border: none;
  background-color: var(--color-lemon);
  color: white;
}
