.voyage_organise_page{
  display: flex;
  position: relative;
  padding: 16px;
  margin-top: 12px;
}
.voyage_organise_page_gauche{
  width: 40%;
}
.voyage_organise_droite{
  width: 60%;
  z-index: 2;
  display: grid;
  grid-row-gap: 24px;
}
.voyage_organise_list_voyage{
  display: grid;
  grid-row-gap: 16px;
}
.voyage_organise_voyage{
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  display: grid;
  grid-template-columns: 320px auto;
  grid-column-gap: 14px;
}
.voyage_organise_voyage_description_titre{
  display: grid;
}
.voyage_organise_voyage_description_titre strong{
  font-size: 34px;
  color:var(--color-bleu-fonce);
  padding: 4px;
  padding-left: 0px;
  font-weight: 700;
}
.voyage_organise_voyage_description_titre label{
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.voyage_organise_voyage_description_detail{
  padding: 6px;
  font-size: 14px;
  color: #222;
  font-weight:200;
}
.voyage_organise_btn_more{
  display: flex;
  justify-content: flex-end;
  padding: 14px;
  overflow: hidden;
  margin-top: 38px;
}
