.control_table{
  display: grid;
  grid-row-gap: 18px;
  justify-content: center;
  padding: 16px;
}
.control_table_item{
  display: grid;
  grid-template-columns: auto 400px;
  grid-column-gap: 18px;
}
.control_table_2item{
  display: grid;
  grid-template-columns: 25% 75%;
  text-align: center;
  grid-column-gap: 18px;
}
.control_table_4item{
  display: grid;
  grid-template-columns: 26px 25% 25% 25% 20% 120px;
  grid-column-gap: 18px;
}
.control_table_9item{
  display: grid;
  grid-template-columns: 26px 11% 11% 10% 10% 10% 10% 10% 10%;
  grid-column-gap: 18px;
}
.control_table_4item label,.control_table_9item label,.control_table_2item label {
  text-align: center;
 }
 .control_table_multi_row{
  display: grid;
  grid-row-gap: 10px;
 }
.left_tab{
  padding: 16px;
}
.controlinput{
  width: 100%;
  padding: 4px;
  font-size: 18px;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.control_input_erreur{
  border: 1px solid red;
}
.controllabel{
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}
.control_div_btn{
  padding: 16px;
}
.control_btn{
  background-color: #34495e;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 20px;
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.control_btn:hover{
  /*  background-color: #5c6d7e;
     titre ta3 bouton b blanc donc lazam background-color fonce
     prq dork remarque raho y9ala9 chouia blanc fi chouia black bl bleu
     mata9darch t9raha mlli7
  */
}
.fields{
  border-radius: 8px;
}
.legends{
  color: #3C4452;
  font-size: 18px;
  margin: 4px;
  padding: 4px;
}
.nav_tab{
  display: flex;
  justify-content: flex-start;
  background-color: #34495e;
}
.nav_tab_item{
  padding: 12px;
  padding-right: 14px;
}
.nav_tab_item_active{
    background-color: #337ab7;
}
.nav_tab_item label{
  font-size: 24px;
  color: white;
}
.nav_tab_item:target{
    background-color: #337ab7;
}
.nav_tab_div{
  display: none;
}
.nav_tab_div_active{
  display: block;
}
.info_table_control{
  width: 900px;
}