.sidebar{
  background-color: #12181E;
  width: 55px;
  overflow: hidden;
  display: block;
}
.sidebarlogo{
  color: white;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
.sidebaruserinfo{
  color: white;
  text-align: center;
  font-size: 32px;
  height: 65px;
  opacity: 0;
}
.sidebarlistitem{
  height: auto;
  display: grid;
  grid-row-gap: 4px;
}
.sidebaritem{
  text-decoration: none;
  color: white;
  font-size: 28px;
}
.sidebaritem div{
  padding: 8px;
  display: grid;
  border-left: 4px solid #12181E;
  grid-template-columns: 48px auto;
}
.sidebaritem label{
  cursor: pointer;
}
.sidebaritem div:hover{
  background-color:#337ab7;
  border-left-color: #FFC107;
}
.sidebaritem div:hover > .sidebar{
  width: 200px;
}
#sidebarcheckbox:checked ~ .sidebar .sidebarlogo{
  display: block;

}
#sidebarcheckbox:checked ~ .sidebar .sidebaruserinfo{
  opacity: 0;
  height: 0px;
}
#sidebarcheckbox:checked ~ .sidebar{
  width: 230px;
}
#sidebarcheckbox{
  position: absolute;
  opacity: 0;
}
